# Ursula specific
*.pyc
*.vdi
.tox
build
*-openrc.sh
*.retry
ursula.log
elk-stats
.ssh_config
*.log
.molecule
tmp/
venv/

# Ignore macOS files
*.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Ignore Vagrant directories
.vagrant/
*/.vagrant/

# Ignore Vim files
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
Session.vim
.netrwhist
*~
tags

# Ignore private keys
*.pem
